@mixin font($size, $height: 130%, $weight: 400, $style: normal) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
}

@mixin columns($width) {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  > * {
    flex-basis: $width;
  }
}

@mixin media-laptop {
  @media (min-width: $content-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (min-width: $tablet-width) {
    @content;
  }
}
