.overflow {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: $color-overflow;
  display: none;
  cursor: pointer;

  &.show {
    @include flex($content: center, $items: center);
  }

  &:hover .modal__button {
    border: 2px solid $color-primary-light;
    background-color: $color-primary-light;
  }
}
